:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --third-background-color: #f4f4fd;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --third-text-color: #f4f4fd;
  --primary-accent-color: #404bbf;
  --secondary-accent-color: #4d5ae5;
  --primary-fonts: Roboto, sans-serif;
  --secondary-fonts: Raleway, sans-serif;
}

/**
  |============================
  | BASE STYLE
  |============================
*/
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-fonts);
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* INDEX PAGE */
/**
  |============================
  | HEADER STYLE
  |============================
*/
/* HEADER NAV */
.header {
}
.header-nav {
}
.logo {
  color: #4d5ae5;
  font-family: var(--secondary-fonts);
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo-span {
  color: #2e2f42;
}

.header-nav-list .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.header-nav-list .link:hover,
.header-nav-list .link:focus {
  color: var(--primary-accent-color);
}

/* HEADER ADRRESS */
.header-address {
  font-style: normal;
}

.header-address-list .link:hover,
.header-address-list .link:focus {
  color: var(--primary-accent-color);
}

/**
  |============================
  | HERO STYLE
  |============================
*/

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: var(--secondary-accent-color);
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-accent-color);
}

/**
  |============================
  | FEATURES STYLE
  |============================
*/

/**
  |============================
  | ABOUT STYLE
  |============================
*/

/**
  |============================
  | EMPLOYEE STYLE
  |============================
*/
.employee {
  background-color: var(--third-background-color);
}

.employee-item {
  background-color: #ffffff;
}

/**
  |============================
  | FOOTER STYLE
  |============================
*/
.footer {
  background-color: var(--secondary-background-color);
  color: var(--third-text-color);
}

.footer-span {
  color: #f4f4fd;
}

/* PORTFOLIO-PAGE */
/**
  |============================
  | PORTFOLIO BUTTON STYLE
  |============================
*/
.portfolio-button {
  background-color: var(--third-background-color);
  color: var(--secondary-accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--primary-accent-color);
  color: #ffffff;
}

/**
  |============================
  | PORTFOLIO STYLE
  |============================
*/
